.btn-styling{
    border-radius: 50px !important;
    background-color: #c5d4fd !important;
    padding:  10px !important;
    font-size: 14px !important;
    color: #1976d2 !important;
    width: 200px !important;
}