.right-section{
   /** background-image: url(../../assets/images/mainimage.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 
}

.css-7xtdhl {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 30px !important;
    margin-left: 0px !important;
}



