.right-section{
   /** background-image: url(../../assets/images/mainimage.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 
}

.css-7xtdhl {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0 !important;
    margin-left: 0px !important;
}

.dashboard-title{
    margin: 10px 0px !important;
   
}

.css-1ygil4i-MuiToolbar-root{
    margin: 0 !important;
    padding: 0px !important;
    display: flex !important;
    align-items:  center !important;
    justify-content: center !important;
}

.main-content-section{
    margin: 40px;
}

.MuiDrawer-paper{
    background-color: #3750eb !important;
}
