.homeSection-main-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.css-1ygil4i-MuiToolbar-root{
    margin: 0 !important;
    min-height:0px !important;
}